<div class="jumbotron">
  <h1 class="display-4"><%= gettext "Welcome to %{name}!", name: "Chat" %></h1>
</div>


<%= if Map.has_key?(assigns, :current_user) do %>
  <div>
    Rooms
    <ul>
      <%= for room <- @rooms do %>
        <li>
          <%=  link(room.name, to: "/rooms/#{room.id}") %>
        </li>
      <% end %>
    </ul>
    <div>
      <%=  link("Create new room", to: "/rooms/new") %>
    </div>

  </div>
<% end %>
